<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <div th:each="role : ${user.getRoles()}" th:text="${role.getName()}">Roles</div>
        </td>
        <td><a th:href="@{admin/update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{admin/delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
<form th:action="@{'admin/create'}">
    <input type="submit" value="Create user"/>
</form>
</div>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>