<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${user}"></title>
</head>
<body>
<table>
    <tr>
        <th>User_Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Password</th>
    </tr>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.password}"></td>
    </tr>
</table>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>